.boton{
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 28px 56px;
    border: none;
    color: #FFFFFF;

    font-size: 20px;
    line-height: 24px;
    margin: 32px 0;
    cursor: pointer;
}

.boton:hover{
    color: #95FFD4;
}